
Day1/.ipynb_checkpoints/Aberrations-checkpoint.ipynb
Day1/.ipynb_checkpoints/Ronchigram-checkpoint.ipynb
Day1/.ipynb_checkpoints/MLSTEM2024-Day1-checkpoint.ipynb
Day1/.ipynb_checkpoints/Data_Representation-checkpoint.ipynb
Day1/images/aberr-tableau.png
Day1/.ipynb_checkpoints/Atoms1-checkpoint.ipynb
DATA/data_UP1OSXBBOGJK5EGA8IBMGWYND.h5
DATA/data_P25GYX8HSBY5NTKDPWPBIIDTE.h5
DATA/data_M16BEDOTE7LDV4TUQ9MGCTQ3E.h5
DATA/data_I872JZFVJ51U5KJ1TZ1E6S4BF.h5
DATA/data_BRY3HEMDARRLXV3533AZHW6FB.ndata
DATA/data_7YXTVYO52KBSOYCB4JGEG7XVJ.h5
DATA/data_6WCUZP8A5JKSW9VKEULQDOQOM.h5
DATA/data_5ZFJ5MHEEOMGUNSCNZL2JBOKE.h5
DATA/data_4390KCDAPT7303COFN5OH3T2J.h5
DATA/data_1VSZR6JNVVO6LTJ5AOSLY1ECB.h5
DATA/.pyTEMlib.files.pkl
.pyTEMlib.files.pkl
Day2/.ipynb_checkpoints/0_Kinematic_Scattering_Geometry-checkpoint.ipynb
Day2/.ipynb_checkpoints/1_Kikuchi_Lines-checkpoint.ipynb
Day2/.ipynb_checkpoints/1_Multislice-checkpoint.ipynb
Day2/.ipynb_checkpoints/2_Multislice_CBED-checkpoint.ipynb
Day2/2_HOLZ_Lines.ipynb
Day2/images/CBED.pptx
Day2/images/~$CBED.pptx
Day2/.ipynb_checkpoints/4_iDPC-checkpoint.ipynb
Day2/ML_STEM_lecture08.pdf
Day3/.ipynb_checkpoints/4_Low_Loss_EELS-checkpoint.ipynb
Day3/.ipynb_checkpoints/5_Introduction_Core_Loss-checkpoint.ipynb
Day3/.ipynb_checkpoints/Analyse_Low_Loss-checkpoint.ipynb
Day3/.ipynb_checkpoints/CH4_08-Chemical_Composition-checkpoint.ipynb
Day2/ML_STEM_lecture08.pdf
Day3/CH4_08-Chemical_Composition.ipynb
Day3/images/TEM-LabCourse-F17.docx
Documents/.ipynb_checkpoints/Workshop-MLinSTEM2024-checkpoint.pdf
Day1/.ipynb_checkpoints/1_Aberrations-checkpoint.ipynb
Day1/.ipynb_checkpoints/3_Ronchigram-checkpoint.ipynb
Day1/.ipynb_checkpoints/4_Atom_Finding-checkpoint.ipynb
Day1/.ipynb_checkpoints/Atom_Segmention-checkpoint.ipynb
Day2/.ipynb_checkpoints/1_Kinematic_Scattering-checkpoint.ipynb
Day2/.ipynb_checkpoints/2_Kikuchi-checkpoint.ipynb
Day2/.ipynb_checkpoints/3_Dynamic_Diffraction-checkpoint.ipynb
Day1/Generate_Dataset.ipynb
Day3/.ipynb_checkpoints/1_Introduction_EDS-checkpoint.ipynb
Day3/.ipynb_checkpoints/3_Analyze_EDS-checkpoint.ipynb
Day3/.ipynb_checkpoints/6_Analyse_EELS-checkpoint.ipynb
Day3/.ipynb_checkpoints/Day3_PCA_CL-checkpoint.ipynb
Day5/~$MLSTEM2024-SmartSensing.pptx
Day5/MLSTEM2024-SmartSensing.pptx
