
Day1/.ipynb_checkpoints/Aberrations-checkpoint.ipynb
Day1/.ipynb_checkpoints/Ronchigram-checkpoint.ipynb
Day1/.ipynb_checkpoints/MLSTEM2024-Day1-checkpoint.ipynb
Day1/.ipynb_checkpoints/Data_Representation-checkpoint.ipynb
Day1/images/aberr-tableau.png
